<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<!-- @include ../modules/page-head.html -->
<body>

<div class="wrapper">
<!--   <video id="webCamWindow" autoplay></video>
    <div id="movement"></div> -->
  <div class="date-info">
    <h1 class="time"></h1>
    <h2 class="day"></h2>
    <h3 class="date"></h3>
  </div>
  <div class="weather-info">
    <h1 class="weatherTemp"></h1>
    <span class="weatherIcon"><img src="" /></span>
    <h2 class="weatherMain"></h2>
  </div>
  <div class="painting">
    <div class="rain inactive"></div>
    <div class="snow inactive"></div>
    <div id="clouds" class="inactive">
      <div class="cloud x1"></div>
      <div class="cloud x2"></div>
      <div class="cloud x3"></div>
      <div class="cloud x4"></div>
      <div class="cloud x5"></div>
    </div>  
    <div class="sunny inactive">
      <div class="ray_box">
          <div class="ray ray1"></div>
          <div class="ray ray2"></div>
          <div class="ray ray3"></div>
          <div class="ray ray4"></div>
          <div class="ray ray5"></div>
          <div class="ray ray6"></div>
          <div class="ray ray7"></div>
          <div class="ray ray8"></div>
          <div class="ray ray9"></div>
          <div class="ray ray10"></div>
      </div>
      <div class="sun"></div>
    </div>
    <img id="default" src="images/american_gothic.jpg" />
    <img id="umbrella" class="faded special" src="images/american_gothic-umbrella.jpg" />
    <img id="night" class="faded special" src="images/american_gothic-night.jpg" />
    <img id="sunburn" class="faded special" src="images/american_gothic-sunburn.jpg" />
    <div class="woman">
      <div class="eye__box">
        <span class="eye left"></span>
        <span class="eye right"></span>
      </div>
      <div class="smile">
        <img src="images/woman-smile.png" />
      </div>
    </div>
    <div class="man">
      <div class="eye__box">
        <span class="eye left"></span>
        <span class="eye right"></span>
      </div>
      <div class="smile">
        <img src="images/man-smile.png" />
      </div>
    </div>
  </div>
</div>

  <!-- @include ../modules/page-foot.html -->
</body>
</html>

